<h1>
    {{ headline }}
</h1>

<form class="form-inline" #todoForm="ngForm" (ngSubmit)="addTodo(task.value); task.value=''">
    <div class="form-group">
        <input type="text" class="form-control" required #task />
    </div>
    <button type="submit" class="btn btn-submit">Add</button>
</form>