h1 {
    color: #272744;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.369em;
    margin-bottom: 1em;
    text-align: center;
}

.form-inline {
    flex-direction: column;
    margin: 0 auto 3.157em;
    width: 100%;
}

.form-group {
    width: 100%;
}

.form-group input {
    border-color: #c69fa5;
    border-radius: 0.15rem;
    padding: 0.563rem .75rem;
    width: 100%;
}

.form-group input:focus {
    box-shadow: 0 0 0 0.2rem rgba(198, 159, 165, 0.25);
}

.btn-submit {
    border: 1px solid #8b6d9c;
    background: #8b6d9c;
    color: #fff;
    width: 100%;
}

.btn-submit:hover {
    background: #494d7e;
}

@media (min-width: 576px) {
    .form-inline {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto 3.157em;
        width: 100%;
    }

    .form-group {
        width: 80%;
    }

    .btn-submit {
        width: 18%;
    }

}

@media (min-width: 992px) {
    .form-inline {
        width: 80%;
    }
}