<div class="todo-controls">
    <form class="form-inline">
        <div class="form-group">
            <select class="form-control" id="todo-sort" name="sortParameter" [(ngModel)]="sortParameter">
                <option value="newest">Newest to Oldest</option>
                <option value="oldest">Oldest to Newest</option>
                <option value="alphabetical">Alphabetical</option>
                <option value="reverse-alphabetical">Reverse Alphabetical</option>
            </select>
            <button class="btn btn-control" type="button" (click)="sortTodos()">Sort List</button>
        </div>
    </form>
    <button class="btn btn-control" type="button" (click)="toggleCompleted()">{{ showCompleted ? "Hide Completed" : "Show Completed"}}</button>
</div>