.todo-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1.333em 0;
    width: 100%;
}

.form-inline {
    width: 100%;
}

.form-group {
    width: 100%;
}

.form-group input {
    border-color: #c69fa5;
    width: 100%;
}

.form-group .btn,
.form-group select {
    margin-bottom: 1rem;
    width: 100%;
}

.form-group select {
    border-color: #c69fa5;
    border-radius: 0.15rem;
}

.form-group select:focus {
    border-color: #c69fa5;
    box-shadow: 0 0 0 0.2rem rgba(198, 159, 165, 0.25);
}

 .btn-control {
    border: 1px solid #8b6d9c;
    background: #8b6d9c;
    color: #fff;
}

.btn-control:hover {
    background: #494d7e;
}

@media (min-width: 768px) {
    .form-group {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .form-group select {
        margin-right: 0.563rem;
        flex: 2;
    }

    .form-group .btn {
        flex: 1;
    }
}
@media (min-width: 992px) {
    .todo-controls {
        flex-direction: row;
    }

    .form-group .btn,
    .form-group select {
        margin-bottom: 0;
        margin-right: 0.563rem;
        width: 100%;
    }

    .form-group select {
        margin-right: 0.563rem;
        flex: 3;
    }

    .form-group .btn {
        flex: 1;
    }
}