<div class="row justify-content-center">
    <div class="col-8">
        <app-todo-header (add)="onAddTodo($event)"></app-todo-header>
        <app-todo-list-controls [showCompleted]="showCompleted"
                                (toggle)="onToggleCompleted($event)"
                                (sort)="onSortTodos($event)"></app-todo-list-controls>
        <app-todo-list [todos]="todos"
                       [showCompleted]="showCompleted"
                       (delete)="onDeleteTodo($event)"
                       (save)="onSaveTodo($event)"></app-todo-list>
    </div>
</div>
