.form-inline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.custom-control-label {
    padding-left: 0.563em;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #8b6d9c;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(198, 159, 165, 0.25);
}

.custom-control-label::before {
    background-color: #f2d3ab;
}

.todo-complete {
    color: #c69fa5;
    text-decoration: line-through;
}

.todo-edit {
    flex: 1;
    width: 100%;
}

.todo-edit input {
    width: 100%;
}

.todo-action {
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-end;
    margin-top: 1.333em;
}

.btn {
    margin-left: 0.422em;
}

.btn-edit {
    border: 1px solid #8b6d9c;
    background: #8b6d9c;
    color: #fff;
}

.btn-edit:hover {
    background: #494d7e;
}

.btn-delete {
    border: 1px solid #c69fa5;
    background: #fff;
    color: #c69fa5;
}

.btn-delete:hover {
    background: #fbf5ef;
}

@media (min-width: 768px) {
    .form-inline {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .todo-action {
        margin-left: 1.333em;
        margin-top: 0;
        align-self: flex-start;
    }
}