<form class="form-inline">
    <div class="custom-control custom-checkbox" *ngIf="!editing">
        <input class="custom-control-input" id="complete-{{todo.id}}" type="checkbox" name="complete" [(ngModel)]="todo.complete" (ngModelChange)="toggleComplete()" />
        <label class="custom-control-label" for="complete-{{todo.id}}" [ngClass]="{'todo-complete': todo.complete}">
            {{todo.task}}
        </label>
    </div>
    <div class="todo-edit" *ngIf="editing">
        <input type="text" class="form-control" name="task" [(ngModel)]="todo.task" placeholder="todo" />
    </div>
    <div class="todo-action">
        <button type="button" class="btn btn-edit" (click)="editTodo()" *ngIf="!editing">Edit</button>
        <button type="button" class="btn btn-edit" (click)="saveTodo()" *ngIf="editing">Save</button>
        <button type="button" class="btn btn-delete" (click)="deleteTodo()" *ngIf="!editing">Delete</button>
        <button type="button" class="btn btn-delete" (click)="cancelEdit()" *ngIf="editing">Cancel</button>
    </div>
</form>