<ul class="list-group">
    <ng-container *ngFor="let todo of todos">
        <li class="list-group-item" *ngIf="showCompleted ? todo : !todo.complete">
            <app-todo-list-item [todo]="todo"
                                (delete)="onDeleteTodo($event)"
                                (save)="onSaveTodo($event)"></app-todo-list-item>
        </li>
    </ng-container>
</ul>