.list-group-item {
    padding: 1em 1.333em;
}

.list-group-item {
    border: 1px solid #c69fa5;
}

.list-group-item:first-child {
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
}
