body {
    background: #fbf5ef;
    color: #494d7e;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container {
    padding: 3.157em 0;
}

.btn {
    border-radius: 0.15rem;
    font-size: 0.75em;
    padding: 0.563rem .75rem;
    text-transform: uppercase;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(198, 159, 165, 0.25);
}

@media (min-width: 992px) {
    body {
        font-size: 18px;
    }
}